@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
html,
body {
  font-family: "Playfair Display", serif;
}
/* Горизонтальне меню */

.site-navigation {
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.site-navigation li {
  display: inline-block;
  margin-right: 125px;
  margin-top: 77px;
}
.site-navigation li:last-child {
  margin-right: 0;
}
.site-navigation a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #03a9f4;
}

/* Контент */

.conteiner {
  width: 900px;
  margin: 0 auto;
}

.lifestyle {
  color: rgb(172, 165, 165);
  text-transform: uppercase;
}

.template {
  margin: auto;
}

.template-concert {
  display: inline-block;
  width: 420px;
  text-align: left;
  margin-right: 28px;
  margin-top: 100px;
}

.template-coffee {
  display: inline-block;
  width: 420px;
  text-align: left;
  margin-left: 28px;
  margin-top: 100px;
}

/* Кнопка */

.button {
  text-align: center;
  margin-top: 57px;
  margin-bottom: 71px;
  padding: 20px 20px;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 21px 34px;
  border: 1px solid #626262;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}
.btn:hover {
  border-color: #03a9f4;
  color: #03a9f4;
}
