.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;

  &__info {
    font-family: $Montserrat;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-top: 15px;
  }
  &__info-link {
    color: $light-red;
  }
}
